parameters:
    level: max
    paths:
        - src
        - tools
    scanFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
    treatPhpDocTypesAsCertain: true
    reportUnmatchedIgnoredErrors: true
    parallel:
        maximumNumberOfProcesses: 1
